body {
    background-color: #222;
    font-family: Questrial;
}

#wrapper {
    text-align: center;
}

/*authorization*/
#githubLogin {
    background-color: transparent;
    text-align: center;
    margin-top: 350px;
    font-size: 4em;
    border: none;
}
#githubLogin a {
    color: #F1F1F1;
}
#githubLogin a:hover {
    color: #FFF;
    transition: 0.3s;
}

#card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  max-width: 300px;
  margin: 200 auto;
  text-align: center;
  font-family: Questrial;
  background-color: #FFF;
}
#card img {
  width: 100%;
}

h1 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-family: Arial, sans-serif;
  color: #222;
}

p {
  color: darkgray;
  margin-top: 2px;
  margin-bottom: 30px;
  font-family: Questrial, sans-serif;
}

button {
  font-family: Questrial;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: rgba(218, 4, 99, 0.8);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

button:active {
  background-color: rgba(218, 4, 99, 1);
}
