body {
	font-family: Questrial;
	height: 200px;
  background: #2C2E3E;
  background: linear-gradient(#2C2E3E, #3A718C);
}
#wrapper {
	text-align: center;
	margin-top: 280px;
}
#online {
	color: #F6F6F6;
	opacity: 0.8;
	font-size: 5em;
}
#buttonWrapper {
	margin-top: 20px;
}
/*authorization*/

#githubLogin,
#twitterLogin,
#googleLogin {
	background-color: transparent;
	border: none;
	font-size: 2.3em;
	font-weight: lighter;
	letter-spacing: 2px;
}
#githubLogin a,
#twitterLogin a,
#googleLogin a {
	opacity: 0.8;
	color: #F4F4F4;
}
#githubLogin a:hover,
#twitterLogin a:hover,
#googleLogin a:hover {
	opacity: 1;
	transition: 0.3s;
}
#githubLogin:active,
#twitterLogin:active,
#googleLogin:active {
	transform: scale(1.1);
}
h4 {
	color: #F6F6F6;
	font-size: 0.8em;
	letter-spacing: 1px;
}
#card {
	max-width: 210px;
	margin: 0 auto;
	text-align: center;
	font-family: Questrial;
	background-color: transparent;
}
#card img {
	width: 100%;
}
h1 {
	margin-top: 10px;
	margin-bottom: 0px;
	font-family: Arial, sans-serif;
	color: #F6F6F6;
}
p {
	color: #F4F4F4;
	font-family: Questrial, sans-serif, Arial;
	margin-top: 2px;
	margin-bottom: 30px;
	font-family: Questrial, sans-serif;
}
#card button {
	font-family: Questrial;
	border: 2px solid #B2D430;
	outline: 0;
	display: inline-block;
	padding: 10px;
	color: #F6F6F6;
	background-color: transparent;
	text-align: center;
	cursor: pointer;
	width: 200px;
	font-size: 18px;
	border-radius: 5px;
}
#card button:active {
	background-color: #B2D430;
	transform: scale(1.1);
}
#card img {
	border-radius: 100px;
	width: 150px;
}
#icon {
	text-align: right;
	font-size: 1.5em;
	color: white;
}
/*POP UP CONTAINER FOR ERROR*/

#popup {
	display: none;
	background-color: transparent;
	border: 1px solid #B2D430;
	border-radius: 5px;
	width: 300px;
	height: 35px;
	padding: 10px;
	margin: 0px auto;
	font-weight: 100;
	overflow: hidden;
	;
}
#popup {
	animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}
@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}
	20%,
	80% {
		transform: translate3d(2px, 0, 0);
	}
	30%,
	50%,
	70% {
		transform: translate3d(-4px, 0, 0);
	}
	40%,
	60% {
		transform: translate3d(4px, 0, 0);
	}
}
#popup p {
	color: #fff;
	padding: 0px;
	margin-left: 0px;
	font-size: 0.9em;
}
/* Toggle this class when error appears */

#popup .show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 1s
}
/* Add animation (fade in the popup) */

@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
